.outerDiv {
  width: 350px;
  /* padding: 10px; */
  border: solid;
  margin: auto;
  background-color: white;
  text-align: left;
}
.heading {
  /* border: solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px 15px;
}
.heading p {
  cursor: pointer;
}
.heading h3 {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.inputDiv {
  margin: 15px;
}
.inputDiv input {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 5px;
}
.forgotPassword:hover{
color: #437111;
}
.loginBtn {
  text-align: center;
  background-color: rgb(226, 222, 222);
  padding: 10px;
  cursor: pointer;
}
.loginBtn:hover {
  background-color: rgb(90, 88, 88);
  color: white;
}
.commonbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(98, 98, 209);
  margin-bottom: 15px;
  padding: 10px;
  color: white;
}
.commonbtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.createAdiv {
  text-align: center;
  padding: 10px;
}
.createAdiv p {
  font-size: 13px;
  color: rgb(82, 82, 82);
}
