.logo {
  height: 40px;
}

.bg-myColor {
  background-color: #eeeeea;
}

.navbar-expand .navbar-nav .nav-link {
  color: #111 !important;
}

.nav-link > a {
  color: black;
}

.navbar-nav > a {
  color: #111;
}
